.mainWrapper {
	display: flex;
	min-height: 30rem;
	width: 100%;
	gap: 3rem;
  margin-top: 2rem;
  width: 100%;
  height: auto;
  flex-direction: row;
  gap: 0;
  margin-inline: 3.5rem;
  // margin-top: 4rem;

  .playerListWrapper {
    flex-grow: 2;
    margin-inline: 5rem;
		width: 90%;
		margin: 0 auto;
		margin-inline: 8rem;
		display: flex;

		@media all and (max-width: 1200px) {
			margin-inline: 5rem;
	  }

    @media all and (max-width: 930px) {
      padding-inline: 0;
      margin-top: 4rem;
			margin-inline: 0;
			margin: 3rem auto;
	  }
  }

  .monthListWrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
		gap: 2rem;
    padding-left: 0;
  }

	@media all and (max-width: 930px) {
		width: 100%;
		justify-content: space-evenly;
		flex-wrap: wrap;
    flex-direction: column;
    margin-left: 0;
    // margin-top: 9rem;
	}

	@media all and (max-width: 500px) {
		margin-top: 0rem;
		width: 100%;
		justify-content: space-evenly;
	}
}

.spinner {
	display: block;
	/* position: absolute; */
	padding: 20px;
	margin-right: 5rem;
	width: 20px;
	border: 3px solid rgba(195, 195, 195, 0.6);
	border-radius: 50%;
	border-top-color: #636767;
	animation: spin 0.8s ease-in-out infinite;
	-webkit-animation: spin 0.8s ease-in-out infinite;
	@keyframes spin {
		to {
			-webkit-transform: rotate(360deg);
		}
	}
	@-webkit-keyframes spin {
		to {
			-webkit-transform: rotate(360deg);
		}
	}
	@media all and (max-width: 800px) {
		display: inline-block;
	}
}

