.button {
	transition-duration: 0.4s;
	font-size: 20px;
	padding: .5rem 2rem .5rem 1rem;
	margin: .7rem 0;
	min-width: 100%;
	cursor: pointer;
	background-color: rgba(0,0,0,.05);
	border-radius: 10px;
  width: 100%;
  margin: 0;
  display: flex;
	justify-content: space-between;
	// grid-template-columns: 1fr 1fr 1fr;
	// justify-items: center;
  align-items: center;
	border: none;
	&:hover {
		font-weight: bolder;
		background-color:ghostwhite;
	}

  .icon {
		color: var(--color-orange-dark);
		justify-self: self-end;
		padding: 0;
  }

  @media all and (max-width: 600px) {
    width: 90%;
  }
}

.buttonText {
	// grid-column-start: 2;
	color: var(--color-green-dark);
	font-size: 18px;
	font-weight: lighter;
}
