.header {
	.headerTitle {
		color: black;
		font-family: var(--font-lobster), 'Arial';
    letter-spacing: 5px;
		margin-top: 0;
		font-size: 55px;
		padding-top: 2rem;
		color: rgba(0, 0, 0, 0.8);
		text-shadow: 2px 2px 5px #FFFEE1;
		margin: 0 5rem;

		@media all and (max-width: 800px) {
			text-align: center;
			margin: 0 auto;
		}

		@media all and (max-width: 600px) {
			font-size: 45px;
			font-weight: bolder;
			padding-top: 1rem;
		}

		@media all and (max-width: 400px) {
			font-weight: bolder;
			padding-top: 1rem;
      letter-spacing: 3px;
		}
	}
}
