.monthsWrapper {
	display: grid;
  grid-template-columns: 10rem 10rem;
  gap: 2.5rem 2rem;
  min-width: 5rem;
  place-content: center;
	height: 100%;
	min-width: 11rem;
	margin: 0 4.5rem;
  height: auto;
  margin: 0 auto;
  margin-left: 1.5rem;

  @media all and (max-width: 1200px) {
    min-width: 10rem;
	}

	@media all and (max-width: 930px) {
		flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
	}

  @media all and (max-width: 500px) {
    margin-left: 0;
    min-width: 8rem;
    margin: 2em auto 0 auto;
	}
}
