.link {
	transition-duration: 0.4s;
	text-transform: capitalize;
	font-size: 18px;
	padding: 0.3rem 2.5rem;
	min-width: 3rem;
	color: var(--color-green-dark);
	cursor: pointer;
	border-radius: 10px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.075);
	&:hover {
		font-weight: bolder;
		background-color:ghostwhite;
	}

	a {
		padding: 0;
		margin: 0;
		font-weight: bold;
	}

	@media all and (max-width: 1313px) {
		font-size: 16px;
	}

	@media all and (max-width: 800px) {
		font-size: 15px;
		letter-spacing: 2px;
	}

	@media all and (max-width: 500px) {
		font-size: 15px;
		letter-spacing: 2px;
		padding-inline: 1rem;
	}
}

.activeMonth {
	// background-color: rgba(0,0,0,.5);
	background-color: var(--color-flat-green);
	color: #ffffff;
	&:hover {
		background-color: var(--color-flat-green);
	}
}
